.leftsidepart{
    position: fixed;
}

.logopart{
    width: 100px;
    height: 30px;
    /* border: 1px solid; */
    margin-left: 25px;
}

.logo{
    width: 100px;
}

.navlink{
    display: flex;
    flex-direction: column;
    /* padding-top: 60px; */
    margin-top: 30px;

}

.links{
display: flex;
/* border: 1px solid; */
border-radius: 5px;
height: 20px;
align-items: center;
padding: 10px;
cursor: pointer;
margin-bottom: 5px;
&:hover{
    background-color: #ededed;
}

}

.navname{
    font-weight: 400;
}

.userprofile{
    width: 28px;
    border-radius: 50px;
    margin-right: 16px;
}

.belowpart{
    margin-top: 20px;
}